<div>
$body-font-family:
</div>
<div>
  <span class="fallback-font-base">sans-serif;</span>
</div>

<hr>

<div><em>
  <span class="fallback-font-base">sans-serif;</span>
</em></div>

<hr>

<div><strong>
  <span class="fallback-font-base">sans-serif;</span>
</strong></div>
