<ul class="sg-colors">
  {{#gradients}}
    <li>
    <span class="sg-swatch {{ name }}-background"></span>
    <span class="sg-label">
      ${{ name }}<br />
      {{ gradient }}
    </span>
  </li>
  {{/gradients}}
</ul>
