// Brand Colors
$soft-yellow: #f2c94c;
$soft-orange: #f2994a;
$vivid-cyan: #1cb5e0;
$very-dark-blue: #000046;

.soft-yellow-background {
  background: $soft-yellow;
}

.soft-orange-background {
  background: $soft-orange;
}

.vivid-cyan-background {
  background: $vivid-cyan;
}

.very-dark-blue-background {
  background: $very-dark-blue;
}
