<div class="three">
  <div style="min-height: 5rem; background: orange;"></div>
  <div style="min-height: 5rem; background: pink;"></div>
  <div style="min-height: 5rem; background: orange;"></div>
</div>