.pl-c-category__title {
  color: var(--white) !important;
}

:root {
  --link--radius: 0.2rem;
}

/*------------------------------------*/
/*------------------------------------*/
body {
  /*------------------------------------*/
  /*------------------------------------*/
  background: var(--metalmnion);
  /*------------------------------------*/
  /*------------------------------------*/
  color: var(--black);
  font-family: "Josefin Sans", sans-serif;
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--hypolmnion);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
  }
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Josefin SansVariable", sans-serif;
    font-variation-settings: "wght" 400;
  }
}

/*------------------------------------*/
/*------------------------------------*/
:root {
  --epilmnion: hsl(188, 100%, 79%);
  --metalmnion:hsl(188, 100%, 45%);
  --hypolmnion:hsl(188, 100%, 18%);
}

/*------------------------------------*/
/*------------------------------------*/
:root {
  --black: #0a0a0a;
  --white: #fafafa;
  --drop: hsla(0, 0%, 0%, 0.25);
}

.global-margin {
  margin: 1em;
}

.float-left {
  float: left;
}

.global-padding {
  padding: 1em;
}

/*------------------------------------*/
/*------------------------------------*/
:root {
  --lake: linear-gradient(
    0deg,
    hsl(188, 100%, 40%) 0%,
    hsl(188, 100%, 50%) 100%
  );
  --ocean: linear-gradient(
    0deg,
    hsl(188, 100%, 20%) 0%,
    hsl(188, 100%, 30%) 100%
  );
}

/*------------------------------------*/
/*------------------------------------*/
a {
  text-decoration: underline;
  line-height: 1.5rem;
  padding: 0.25rem;
  padding-block-start: 0.5rem;
  color: var(--hypolmnion);
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--epilmnion);
  }
}

.hover,
a:where(:hover, :focus) {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--link--radius);
}

.svg-a {
  display: block;
  max-width: 8.5rem;
}
.svg-a svg {
  display: block;
  padding: 0.25rem;
}

.svg-hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--link--radius);
}

nav a {
  line-height: 2.5rem;
  border-block-start: 1px solid var(--hypolmnion);
  border-block-end: 1px solid var(--hypolmnion);
  border-radius: var(--link--radius);
}

.nav-hover a,
nav a:where(:hover, :focus) {
  background: var(--hypolmnion);
  color: var(--epilmnion);
}

.card-hover,
.card a:where(:hover, :focus) {
  font-variation-settings: "wght" 700;
}

/*------------------------------------*/
/*------------------------------------*/
svg {
  fill: currentColor;
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
}

@keyframes pop {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 10;
    stroke-opacity: 0;
  }
}
.pop {
  animation: pop 5s infinite;
  stroke: var(--white);
}

@keyframes pop--tahoe {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 100;
    stroke-opacity: 0;
  }
}
.pop--tahoe {
  animation: pop--tahoe 5s infinite;
  stroke: var(--white);
}

@keyframes pop--google {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 2;
    stroke-opacity: 0;
  }
}
.pop--google {
  animation: pop--google 5s infinite;
  stroke: var(--white);
}

button, .button {
  border: none;
  background: var(--hypolmnion);
  color: var(--white);
  padding: 1em;
  border-radius: var(--link--radius);
  font-size: clamp(1rem, 1.5vw, 1.25em);
  margin-block-end: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  button, .button {
    color: var(--white);
  }
}

button:is(:hover, :focus), .button:is(:hover, :focus) {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}

/* .c-header {
  background: $light;
} */

/*# sourceMappingURL=style.css.map */
