.pl-c-category__title {
  color: var(--white) !important;
}

:root {
  --vivid-cyan: hsl(193, 78%, 49%);
  --vivid-cyan-hs: 193, 78%;
  --vivid-cyan-l: 49%;
  --very-dark-blue: hsl(240, 100%, 14%);
  --very-dark-blue-hs: 240, 100%;
  --very-dark-blue-l: 14%;
}

.pl-js-pattern-example {
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, auto;
  /*   background: var(--lake-surface);
    background: var(--shallows);

    color: var(--white); */
  /*   a {
      // color: var(--white);
    } */
}

.lake, .three {
  background: var(--lake-surface);
  background: var(--shallows);
}
@media (min-height: 30rem) {
  .lake, .three {
    height: 90vh;
  }
}

.three__row, .three > * {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 44em) 1fr;
  width: 100%;
  gap: 1rem;
}

.three {
  padding: 2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;
}
.three__row--vert {
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin-block-start: 0;
}

p:hover {
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14' fill='whitesmoke' /%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%</svg>") 16 16, auto;
}
@media (prefers-color-scheme: dark) {
  p:hover {
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14' fill='black' /%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%</svg>") 16 16, auto;
  }
}

a {
  color: var(--black);
}

a:hover {
  text-decoration: line-through;
}

:is(nav, .pedestal) > div {
  background: linear-gradient(0deg, #94e8ff 0%, #c2f2ff 100%);
  clip-path: polygon(0 0, 100% 1rem, 100% 100%, 0 calc(100% - 1rem));
}

:is(nav, .pedestal) a {
  font-weight: bold;
  display: block;
  line-height: 1.5rem;
  padding: 1rem 0.5rem;
  background: linear-gradient(0deg, #c7f3ff 0%, #f5fdff 100%);
  margin: 4px;
  color: var(--black);
  clip-path: polygon(0 0, 100% 0.9rem, 100% 100%, 0 calc(100% - 0.9rem));
}

:root {
  --black: #0a0a0a;
  --white: #fafafa;
  --primary: rgb(242, 201, 76);
  --primary__dark: #bb6a1b;
  --light-fallback: rgb(242, 201, 76);
  --light: linear-gradient(
    -45deg,
    rgba(242, 201, 76, 0.5) 0%,
    rgba(242, 153, 74, 0.5) 100%
  );
  --lake-deep: rgb(0, 0, 70);
  --lake-surface: rgb(28, 181, 224);
  --lake: linear-gradient(
    0deg,
    rgba(0, 0, 70, 1) 0%,
    rgba(28, 181, 224, 1) 100%
  );
  --shallows: linear-gradient(
    0deg,
    hsl(193, 58%, 59%) 0%,
    hsl(193, 58%, 79%) 100%
  );
  --deep: linear-gradient(
    0deg,
    hsl(193, 58%, 29%) 0%,
    hsl(193, 58%, 79%) 100%
  );
  --sunrise: linear-gradient(
    0deg,
    hsl(29, 100%, 69%) 0%,
    hsl(47, 100%, 78%) 100%
  );
  --drop: hsla(0, 0%, 0%, 0.25);
  --three: 1fr minmax(min-content, 44em) 1fr;
}

.soft-yellow-background {
  background: #f2c94c;
}

.soft-orange-background {
  background: #f2994a;
}

.vivid-cyan-background {
  background: #1cb5e0;
}

.very-dark-blue-background {
  background: #000046;
}

.black-background {
  background: #0a0a0a;
}

.white-background {
  background: #fefefe;
}

body {
  font-family: sans-serif;
}

.fallback-font-base {
  font-family: sans-serif;
}

.global-margin {
  margin: 1em;
}

.float-left {
  float: left;
}

.global-padding {
  padding: 1em;
}

.light-background {
  background: linear-gradient(-45deg, rgba(242, 201, 76, 0.5) 0%, rgba(242, 153, 74, 0.5) 100%);
}

.lake-background {
  background: linear-gradient(0deg, #000046 0%, #1cb5e0 100%);
}

button, .button {
  background: var(--sunrise);
  padding: 1em;
  border: none;
  border-radius: 4px;
  font-size: 1.25em;
  color: var(--lake-deep);
  margin-block-end: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  button, .button {
    color: var(--white);
  }
}

button:is(:hover, :focus), .button:is(:hover, :focus) {
  background: linear-gradient(-45deg, #d6ad30 0%, #cd7425 100%);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}

.c-header {
  background: linear-gradient(-45deg, rgba(242, 201, 76, 0.5) 0%, rgba(242, 153, 74, 0.5) 100%);
}

/*# sourceMappingURL=style.css.map */
