/*------------------------------------*/
//  #body
/*------------------------------------*/

body {

  /*------------------------------------*/
  //  #background color
  /*------------------------------------*/
  
  background: var(--metalmnion);

  @media (prefers-color-scheme: dark) {
    background: var(--hypolmnion);
  }

  /*------------------------------------*/
  //  #text
  /*------------------------------------*/
  
  color: var(--black);

  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }

  font-family: "Josefin Sans", sans-serif;

  @supports (font-variation-settings: normal) {
    font-family: 'Josefin SansVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}
