/*------------------------------------*/
//  #body
/*------------------------------------*/

body {

  /*------------------------------------*/
  //  #background color
  /*------------------------------------*/
  
  background: var(--metalmnion);

  @media (prefers-color-scheme: dark) {
    background: var(--hypolmnion);
  }

  /*------------------------------------*/
  //  #text
  /*------------------------------------*/
  
  color: var(--hypolmnion);

  @media (prefers-color-scheme: dark) {
    color: var(--epilmnion);
  }
}
