<div class="three">
  <nav class="three__row--vert">
    <div><a href="#">About //</a></div>
    <div><a href="#">Portfolio //</a></div>
    <div><a href="#">Contact //</a></div>
  </nav>

  <div style="min-height: 5rem; background: pink;">
    <div style="background: red;">one</div>
    <div style="background: green;">two</div>
    <div style="background: red;">three</div>
  </div>
  <div style="min-height: 5rem; background: orange;">
    <div style="background: red;">one</div>
    <div style="background: green;">two</div>
    <div style="background: red;">three</div>
  </div>
</div>