<ul class="sg-colors">
  {{#brand-colors}}
    <li>
    <span class="sg-swatch {{ name }}-background"></span>
    <span class="sg-label">
      ${{ name }}<br />
      {{ hex }}
    </span>
  </li>
  {{/brand-colors}}
</ul>
