<ul class="sg-colors">
  {{#brand-colors}}
    <li>
    <span class="sg-swatch" style="background: {{ hsl }};"></span>
    <span class="sg-label">
      var(--{{ name }})<br />
      {{ hsl }}
    </span>
  </li>
  {{/brand-colors}}
</ul>
