<ul class="sg-colors">
  {{#brand-colors}}
    <li>
    <span class="sg-swatch {{ name }}-background"></span>
    <span class="sg-label">
      var(--{{ name }})<br />
      #{{ hex }}
      hsl {{ hsl }}
    </span>
  </li>
  {{/brand-colors}}
</ul>
