<ul>
  {{!-- {{#links --}}
    <li>
      <a>
        Link
      </a>
    </li>
    <li>
      <a class="hover">
        Hover
      </a>
    </li>
    <li>
      {{!-- less fun that it needs this but it needs the simple little class --}}
      <a class="svg-a">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
        >
          <rect x="0" y="0" width="100" height="100" />
        </svg>
      </a>
  </li>
  <li>
    <a class="svg-a svg-hover">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
      >
        <rect x="0" y="0" width="100" height="100" />
      </svg>
    </a>
  </li>
  {{!-- {{/links --}}
</ul>
