<ul class="sg-colors">
  {{#neutral-colors}}
    <li>
      <span class="sg-swatch {{ name }}-background"></span>
      <span class="sg-label">
        ${{ name }}<br />
        {{ hex }}
      </span>
    </li>
  {{/neutral-colors}}
</ul>
