<section class="three">
  <div>{{! this is a .three__row by nesting }}
    <div style="background: red;">one</div>
    <div style="background: green;">two</div>
    <div style="background: red;">three</div>
  </div>
  <div>
    <div style="background: red;">one</div>
    <div style="background: green;">two</div>
    <div style="background: red;">three</div>
  </div>
  <div class="three__row--vert">
    <div style="background: red;">one</div>
    <div style="background: green;">two</div>
    <div style="background: red;">three</div>
  </div>
</section>