button {
  background: linear-gradient(
    -45deg,
    rgb(242, 201, 76) 0%,
    rgb(242, 153, 74) 100%
  );
  padding: 1em;
  border: none;
  border-radius: 4px;
  font-size: 1.25em;
  color: var(--white);

  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }
}

.button {
  @extend button;
}

// button:hover {
  button:is(:hover, :focus) {
  background: linear-gradient(-45deg, #d6ad30 0%, #cd7425 100%);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}