button {
  border: none; // reset
  background: var(--hypolmnion);
  color: var(--white);
  padding: 1em;
  border-radius: var(--link--radius);
  font-size: clamp(1rem, 1.5vw, 1.25em);
  margin-block-end: 0.5rem;

  @media (prefers-color-scheme: dark) {
    color: var(--white);
  }
}

.button {
  @extend button;
  // I think this needs some more work
}

// button:hover {
  button:is(:hover, :focus) {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}